/*** Mixins & Default Styles ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa, Arial', cursive;
}
*::selection {
  color: #fff;
  background: #000;
}
::-webkit-scrollbar {
  display: none;
}
/*** Color Variables ***/
/*** Centering Hack ***/
header {
  width: 100vw;
  height: auto;
  background: #e9e9e9;
  display: flex;
  border-bottom: 1px solid #000;
  /*** Navigation Styles ***/
  /*** Menu Styles ***/
}
header nav {
  width: 100vw;
  height: 100px;
  background: #e9e9e9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  transition: all 0.3s;
  border-bottom: 1px solid #000;
}
header nav.navShadow {
  box-shadow: 1px 6px 11px 1px rgba(0, 0, 0, 0.75);
  height: 60px;
}
header nav.navShadow #word-mark {
  opacity: 0;
}
header #brand,
header #menu,
header ul {
  display: flex;
  align-items: center;
}
header #brand {
  padding-left: 20px;
}
header #logo {
  width: 55px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  background: url('../images/my-photo-profile.jpg');
  background-position: center;
  background-size: cover;
  border: 2px solid rgb(3, 194, 194);
}
header #word-mark {
  width: auto;
  height: auto;
  /* background: #fa6c98; */
  background-color: rgb(3, 194, 194);
  /* background-color: orange; */
  /* background-color: purple; */
  border-radius: 8px;
  margin-left: 20px;
  padding: 8px;
  opacity: 1;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}
header #menu {
  justify-content: flex-end;
  padding-right: 20px;
  font-family: 'Comfortaa', cursive;
}
header li {
  margin-left: 20px;
}
header li a {
  height: 20px;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
header li a:focus {
  /* color: #fa6c98; */
  color: rgb(3, 194, 194);
}
header .middle-hover-link a {
  position: relative;
  transition: all 0.6s;
}
header .middle-hover-link a:before {
  content: '';
  width: 0;
  height: 0.15em;
  position: absolute;
  /* bottom: 0; */
  bottom: -3px;
  left: 50%;
  /* background: black; */
  background-color: #0dd;
  /* background-color: purple; */
  transition: all 0.3s;
}
header .middle-hover-link a:hover:before {
  width: 100%;
  left: 0;
  /* background: black; */
  background-color: #0dd;
  /* background-color: purple; */
}
header .language {
  display: flex;
  flex-flow: row;
}
header .language .ru,
header .language .en {
  display: flex;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  color: #000;
}
header .language .ru:hover,
header .language .en:hover {
  /* background-color: #0dd; */
  background-color: purple;
  color: #fff;
}
header .language .active-lang {
  /* background-color: black; */
  /* background-color: #0dd; */
  background-color: purple;
  color: white !important;
}
header #menu-toggle {
  width: 45px;
  height: 45px;
  background: rgb(3, 194, 194);
  /* background-color: purple; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
header #menu-toggle:hover .bar {
  width: 25px;
}
header #menu-toggle.closeMenu .bar {
  width: 25px;
}
header #menu-toggle.closeMenu .bar:first-child {
  transform: translateY(7px) rotate(45deg);
}
header #menu-toggle.closeMenu .bar:nth-child(2) {
  transform: scale(0);
}
header #menu-toggle.closeMenu .bar:last-child {
  transform: translateY(-7px) rotate(-45deg);
}
header .bar {
  width: 25px;
  height: 2px;
  background: #000;
  transition: 0.3s ease-in-out;
}
header .bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}
header .bar:last-child {
  width: 15px;
}
/*** Hero Section Styles ***/
#hero-section {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.wrapper {
  display: flex;
  flex-wrap: nowrap;
  /* padding: 20px; */
  height: auto;
}
.left-side {
  width: 50%;
  height: auto;
  margin-left: 10%;
}
.left-side h3 {
  font-family: 'Comfortaa', cursive;
  padding-left: 12px;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 10px;
}
.left-side h3 .dott {
  color: #0065ad;
}
.left-side p {
  padding: 0 12px;
  font-size: 0.9rem;
  line-height: 1.56;
  color: #000;
  text-align: justify;
  margin-top: 10px;
  font-family: 'Comfortaa', cursive;
}
.left-side .adress-info {
  padding-left: 12px;
  margin-top: 10px;
  display: flex;
  flex-flow: column;
}
.left-side .adress-info .phone-title,
.left-side .adress-info .email-title {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 0.8rem;
  padding-bottom: 5px;
  margin-top: 10px;
}
.left-side .adress-info .phone-title span,
.left-side .adress-info .email-title span {
  padding-left: 10px;
  font-size: 0.8rem;
  color: #000;
  margin-left: 10px;
}
.left-side .adress-info .email-title span {
  padding-left: 20px;
}
.left-side .social {
  padding-left: 12px;
  margin-top: 10px;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.left-side .social span {
  font-family: 'Comfortaa', cursive;
  font-size: 0.8rem;
  font-weight: 600;
}
.left-side .social .social-icon {
  padding-left: 15px;
}
.left-side .social .social-icon a {
  margin-left: 5px;
}
.left-side .social .social-icon .fab {
  color: black;
  transition: all 0.2s linear;
  color: darkorange;
}
.left-side .social .social-icon .fab:hover {
  /* color: #fa6c98; */
  /* color: rgb(3, 194, 194); */
  color: orange;
}

.right-side {
  width: 50%;
  height: auto;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
.right-side span {
  width: 300px;
  height: 500px;
  display: inline-block;
  background: url(../images/my-photo-profile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
/*** Section Styles ***/
section {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
section:nth-child(odd) {
  background: #e9e9e9;
}
section:nth-child(even) {
  background: #e9e9e9;
}
#heading {
  width: auto;
  height: auto;
  background: #e9e9e9;
  border-radius: 90px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
}
/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 767px) {
  header #menu-toggle {
    display: flex;
  }
  header ul {
    display: inline-block;
    width: 100vw;
    height: 0;
    background: #fff;
    position: absolute;
    top: 100px;
    transform: translate();
    opacity: 0.9;
    right: 0;
    box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  header ul.showMenu {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  header ul.showMenu li {
    height: 80px;
    opacity: 1;
    visibility: visible;
  }
  header li {
    height: 80px;
    float: left;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    transition: all 0.3s 0.1s;
  }
  header #head-line {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 700px) {
  header {
    height: auto;
  }
  .fuller-button {
    width: 95%;
    margin: 20px 0;
    text-align: center;
  }
  .wrapper {
    flex-flow: column;
  }
  #hero-section {
    align-items: flex-start;
  }
  .right-side {
    order: 1;
    width: 100%;
    height: 500px;
  }
  .right-side span {
    height: 500px;
  }
  .left-side {
    order: 2;
    width: 100%;
    height: auto;
    margin-left: 0;
  }
}
@media screen and (max-width: 490px) {
  header #logo {
    height: 100%;
    width: 80px;
    border-radius: 0;
  }
}
.section-skills {
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
}
.section-skills ul {
  margin: 15px 10px;
  width: auto;
  text-align: left;
  font-weight: 700;
}
.section-skills ul li {
  font-weight: 300;
  font-size: 14px;
  display: inline-block;
  /* border: 1px solid #000; */
  /* background-color: #fa6c98; */
  /* background-color: #0dd; */
  /* background-color: orange; */
  background-color: purple;
  /* background-color: rgb(221, 144, 0); */
  color: #fff;
  padding: 8px;
  margin: 3px;
  border-radius: 8px;
  width: auto;
  text-align: center;
}
@media screen and (max-width: 475px) {
  .section-skills ul li:first-child {
    margin-top: 10px;
  }
}
#section00,
#section01,
#section02,
#section03,
#section04 {
  border-bottom: 1px solid #000;
}
.section-education {
  /* ================ The Timeline ================ */
  font-family: 'Comfortaa', cursive;
  /* ================ Timeline Media Queries ================ */
}
.section-education .timeline {
  position: relative;
  width: 770px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}
.section-education .timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #505050;
  background: -moz-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    #505050 8%,
    #505050 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    #505050 8%,
    #505050 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    #505050 8%,
    #505050 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    #505050 8%,
    #505050 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(80, 80, 80, 0) 0%,
    #505050 8%,
    #505050 92%,
    rgba(80, 80, 80, 0) 100%
  );
  z-index: 5;
}
.section-education .timeline li {
  padding: 1em 0;
}
.section-education .timeline li:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.section-education .direction-l {
  position: relative;
  width: 355px;
  float: left;
  text-align: right;
}
.section-education .direction-r {
  position: relative;
  width: 355px;
  float: right;
}
.section-education .flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}
.section-education .flag {
  position: relative;
  display: inline;
  /* background: #fa6c98; */
  background-color: rgb(3, 194, 194);
  /* background-color: purple; */
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: 600;
  text-align: left;
}
.section-education .direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}
.section-education .direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}
.section-education .direction-l .flag:before,
.section-education .direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  /* border: 4px solid #fa6c98; */
  border: 4px solid rgb(3, 194, 194);
  z-index: 5;
}
.section-education .direction-r .flag:before {
  left: -40px;
}
.section-education .direction-l .flag:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
.section-education .direction-r .flag:after {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
.section-education .time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  /* color: #fa6c98; */
  color: rgb(3, 194, 194);
  vertical-align: middle;
}
.section-education .direction-l .time-wrapper {
  float: left;
}
.section-education .direction-r .time-wrapper {
  float: right;
}
.section-education .time {
  display: inline-block;
  padding: 4px 6px;
  /* background: #f8f8f8; */
  background-color: rgb(221, 144, 0);
  color: #000;
}
.section-education .desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}
.section-education .desc a {
  /* color: #fa6c98; */
  /* color: #0dd; */
  color: purple;
  /* text-decoration: none; */
}
.section-education .direction-r .desc {
  margin: 1em 0 0 0.75em;
}
@media screen and (max-width: 768px) {
  .section-education .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }
  .section-education .timeline li {
    padding: 2em 0;
  }
  .section-education .direction-l,
  .section-education .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
  .section-education .flag-wrapper {
    text-align: center;
  }
  .section-education .flag {
    /* background: #fa6c98; */
    background-color: rgb(3, 194, 194);
    z-index: 5;
  }
  .section-education .direction-l .flag:before,
  .section-education .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    /* border: 4px solid #fa6c98; */
    border: 4px solid rgb(3, 194, 194);
    z-index: 6;
  }
  .section-education .direction-l .flag:after,
  .section-education .direction-r .flag:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: #fff;
    border-width: 8px;
    pointer-events: none;
  }
  .section-education .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 7;
  }
  .section-education .direction-l .time-wrapper {
    float: none;
  }
  .section-education .direction-r .time-wrapper {
    float: none;
  }
  .section-education .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: #f5f5f5;
    border-radius: 8px;

    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 7;
  }
  .section-education .direction-l .desc,
  .section-education .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 7;
  }
}
@media screen and (min-width: 400px) and (max-width: 660px) {
  .section-education .direction-l .desc,
  .section-education .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}
.container {
  height: auto;
}
.portfolio {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}
.portfolio-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-bottom: 30px;
  padding-top: 20px;
  font-family: 'Comfortaa', cursive;
}
.portfolio-title h2 {
  color: #000;
  font-size: 2rem;
  padding-left: 12px;
}
.portfolio-title p {
  color: #000;
  font-size: 0.9rem;
  line-height: 1.56;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.portfolio-title .dott {
  color: blue;
}
.portfolio-row {
  width: 100%;
  padding: 5px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio-card {
  overflow: hidden;
  text-align: center;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50%;
  width: 140px;
  height: 140px;
}
.portfolio-card img {
  width: 100%;
}
.hover-adress {
  display: none;
  position: absolute;
  bottom: 0;
}
.hover-adress a {
  text-decoration: none;
  color: #000;
  font-size: 1.275rem;
}
.hover-state {
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hover-state:hover {
  transform: scale(1.2);
  background: black;
  border-radius: 8px;
  color: #000;
}
.hover-state:hover .hover-adress {
  display: block;
}
@media (max-width: 360px) {
  .portfolio-card {
    width: 100px;
    height: 100px;
  }
}
.footer {
  background: #e9e9e9;
  height: 50px;
  width: 100%;
  font-family: 'Comfortaa', cursive;
  /* border-top: 1px solid #000; */
}
.footer .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.footer .container p {
  font-size: 0.9rem;
  line-height: 1.4;
  opacity: 1;
  color: #000;
}
.card {
  width: 200px;
  height: 280px;
  margin: 10px;
  border-radius: 8px;
  background: #e9e9e9;
  position: relative;
  display: flex;
  flex-grow: 1;
  transition: 0.2s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card:hover {
  transform: translateY(20px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.3s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
  display: none;
  width: 100%;
}
.card:hover .info {
  display: block;
}
.card .info p {
  font-size: 15px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}
.card .info button {
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 4px;
  /* background: #fa6c98; */
  background-color: rgb(3, 194, 194);

  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.card .info button:hover {
  /* background: #fa6c98; */
  background-color: rgb(3, 194, 194);
  color: #fff;
}
.card .info button {
  position: absolute;
}
.card .info .git-link {
  bottom: 0;
  left: -1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 8px;
}
.card .info .see-link {
  right: -1px;
  bottom: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 8px;
}
@media screen and (max-width: 450px) {
  .card {
    width: 130px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
  }
  .card:hover .info {
    display: flex;
  }
  .card .info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }
  .card .info p {
    width: 90%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: all 300ms ease-in-out;
  }
  .card .info p:hover {
    /* padding: 10px; */
    position: absolute;
    width: 150px;
    min-height: 90px;
    height: auto;
    border-radius: 4px;
    top: 0;
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
    background-color: #000;
    color: #fff;
    z-index: 10;
  }
}

.fuller-button {
  display: inline-block;
  margin: 40px 0px 40px 8px;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  background: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px 24px;
  letter-spacing: 0.35em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}
.fuller-button.blue {
  box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
  border: rgb(3, 194, 194) solid 2px;
  /* border: #fa6c98 solid 2px; */
}
.fuller-button.blue:hover {
  /* background-color: #fa6c98; */
  background-color: rgb(3, 194, 194);
  color: #fff;
  box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
}
